In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
s

a    0.572967
b    0.491866
c    0.077208
d    0.972390
e    1.056334
dtype: float64

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
pd.Series(np.random.randn(5))

0   -0.191709
1   -0.587586
2   -0.453067
3    0.736959
4   -0.016383
dtype: float64

In [15]:
d = {'b':1,'a':3,'c':2}

In [16]:
pd.Series(d)

a    3
b    1
c    2
dtype: int64

In [18]:
d = {'a':1.,'c':2.,'b':0.}

In [20]:
pd.Series(d)

a    1.0
b    0.0
c    2.0
dtype: float64

In [22]:
pd.Series(d,index=['b','c','a','d'])

b    0.0
c    2.0
a    1.0
d    NaN
dtype: float64

In [23]:
pd.Series(5,index=['a','b','c','d','e'])

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [24]:
s[0]

0.5729667780281319

In [25]:
s[:3]

a    0.572967
b    0.491866
c    0.077208
dtype: float64

In [26]:
s[s>s.median()]

d    0.972390
e    1.056334
dtype: float64

In [27]:
s[[4,3,1]]

e    1.056334
d    0.972390
b    0.491866
dtype: float64

In [28]:
np.exp(s)

a    1.773521
b    1.635366
c    1.080267
d    2.644256
e    2.875808
dtype: float64

In [29]:
s['a']

0.5729667780281319

In [30]:
'e' in s

True

In [33]:
s.get('d')

0.9723898816702375

In [35]:
s.get('f',np.nan)

nan

In [36]:
d = {'one':pd.Series([1.,2.,3.], index=['a','b','c']),
     'two':pd.Series([1.,2.,3.,4.], index=['a','b','c','d']),
     'three':pd.Series([1.,2.,3.,4.,5.], index=['a','b','c',
                                               'd','f'])}

In [37]:
df = pd.DataFrame(d)

In [38]:
df

   one  three  two
a  1.0    1.0  1.0
b  2.0    2.0  2.0
c  3.0    3.0  3.0
d  NaN    4.0  4.0
f  NaN    5.0  NaN

In [39]:
pd.DataFrame(d, index=['d','b','a'])

   one  three  two
d  NaN    4.0  4.0
b  2.0    2.0  2.0
a  1.0    1.0  1.0

In [40]:
pd.DataFrame(d, index=['d','b','a'], columns=['two','three'])

   two  three
d  4.0    4.0
b  2.0    2.0
a  1.0    1.0

In [41]:
df.index

Index(['a', 'b', 'c', 'd', 'f'], dtype='object')

In [42]:
df.columns

Index(['one', 'three', 'two'], dtype='object')

In [45]:
d = {'one':[1.,2.,3.,4.],
    'two':[5.,6.,7.,8.]}

In [47]:
pd.DataFrame(d)

   one  two
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0

In [ ]:
pd.DataFrame(d, index=['a','b','c','d'])