In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import matplotlib.pyplot as plt  
import re
from sklearn import model_selection

data_train = pd.read_csv("train.csv")
data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
def set_Cabin_type(df):
    df.loc[ (df.Cabin.notnull()), 'Cabin' ] = "Yes"
    df.loc[ (df.Cabin.isnull()), 'Cabin' ] = "No"
    return df

In [3]:
# 补全Cabin`
set_Cabin_type(data_train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,No,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,Yes,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,No,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,Yes,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,No,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,No,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,Yes,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,No,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,No,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,No,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,Yes,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,Yes,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,No,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,No,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,No,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,No,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,No,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,No,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,No,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,No,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,No,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,Yes,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,No,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,Yes,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,No,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,No,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,No,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,Yes,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,No,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,No,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,No,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,Yes,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,No,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,No,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,No,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,No,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,Yes,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,No,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,No,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,No,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,Yes,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,Yes,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,No,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,No,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,No,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,No,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,No,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,No,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,Yes,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,No,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,No,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,No,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,No,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,No,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,No,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,No,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,Yes,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,No,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,Yes,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,No,Q

In [4]:
# what is each person's title? 
data_train['Title'] = data_train['Name'].map(lambda x: re.compile(", (.*?)\.").findall(x)[0])

# 将各式称呼进行统一化处理：
title_Dict = {}
title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
title_Dict.update(dict.fromkeys(['Don', 'Sir', 'the Countess', 'Dona', 'Lady'], 'Royalty'))
title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
title_Dict.update(dict.fromkeys(['Mr','Jonkheer'], 'Mr'))
title_Dict.update(dict.fromkeys(['Master'], 'Master'))
data_train['Title'] = data_train['Title'].map(title_Dict)

# #使用dummy对不同的称呼进行分列：
dummies_Title = pd.get_dummies(data_train['Title'], prefix= 'Title')
data_train = pd.concat([data_train, dummies_Title], axis=1)

data_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,No,S,Mr,0,0,1,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,Yes,C,Mrs,0,0,0,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,No,S,Miss,0,1,0,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,Yes,S,Mrs,0,0,0,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,No,S,Mr,0,0,1,0,0,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,No,Q,Mr,0,0,1,0,0,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,Yes,S,Mr,0,0,1,0,0,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,No,S,Master,1,0,0,0,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,No,S,Mrs,0,0,0,1,0,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,No,C,Mrs,0,0,0,1,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,Yes,S,Miss,0,1,0,0,0,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,Yes,S,Miss,0,1,0,0,0,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,No,S,Mr,0,0,1,0,0,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,No,S,Mr,0,0,1,0,0,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,No,S,Miss,0,1,0,0,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,No,S,Mrs,0,0,0,1,0,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,No,Q,Master,1,0,0,0,0,0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,No,S,Mr,0,0,1,0,0,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,No,S,Mrs,0,0,0,1,0,0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,No,C,Mrs,0,0,0,1,0,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,No,S,Mr,0,0,1,0,0,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,Yes,S,Mr,0,0,1,0,0,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,No,Q,Miss,0,1,0,0,0,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,Yes,S,Mr,0,0,1,0,0,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,No,S,Miss,0,1,0,0,0,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,No,S,Mrs,0,0,0,1,0,0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,No,C,Mr,0,0,1,0,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,Yes,S,Mr,0,0,1,0,0,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,No,Q,Miss,0,1,0,0,0,0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,No,S,Mr,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,No,S,Mr,0,0,1,0,0,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,Yes,S,Mrs,0,0,0,1,0,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,No,S,Miss,0,1,0,0,0,0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,No,S,Mr,0,0,1,0,0,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,No,S,Mrs,0,0,0,1,0,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,No,C,Miss,0,1,0,0,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,Yes,S,Mr,0,0,1,0,0,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,No,S,Mr,0,0,1,0,0,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,No,S,Master,1,0,0,0,0,0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,No,S,Mr,0,0,1,0,0,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,Yes,S,Mrs,0,0,0,1,0,0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,Yes,S,Mr,0,0,1,0,0,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,No,S,Mr,0,0,1,0,0,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,No,C,Mrs,0,0,0,1,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,No,C,Miss,0,1,0,0,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,No,S,Mr,0,0,1,0,0,0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,No,S,Mr,0,0,1,0,0,0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,No,S,Mr,0,0,1,0,0,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,Yes,C,Mrs,0,0,0,1,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,No,S,Mrs,0,0,0,1,0,0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,No,S,Mr,0,0,1,0,0,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,No,S,Miss,0,1,0,0,0,0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,No,S,Mr,0,0,1,0,0,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,No,S,Mr,0,0,1,0,0,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,No,Q,Mrs,0,0,0,1,0,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,No,S,Officer,0,0,0,0,1,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,Yes,S,Miss,0,1,0,0,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,No,S,Miss,0,1,0,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,Yes,C,Mr,0,0,1,0,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,No,Q,Mr,0,0,1,0,0,0

In [5]:
# 补全Age
master_mean_age = data_train.loc[(data_train.Title_Master == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Master == 1), 'Age' ] = master_mean_age

miss_mean_age = data_train.loc[(data_train.Title_Miss == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Miss == 1), 'Age' ] = miss_mean_age

mr_mean_age = data_train.loc[(data_train.Title_Mr == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Mr == 1), 'Age' ] = mr_mean_age

mrs_mean_age = data_train.loc[(data_train.Title_Mrs == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Mrs == 1), 'Age' ] = mrs_mean_age

officer_mean_age = data_train.loc[(data_train.Title_Officer == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Officer == 1), 'Age' ] = officer_mean_age

royalty_mean_age = data_train.loc[(data_train.Title_Royalty == 1), 'Age'].mean()
data_train.loc[(data_train.Age.isnull()) & (data_train.Title_Royalty == 1), 'Age' ] = royalty_mean_age

In [6]:
# 接着我们对test_data做和train_data中一致的特征变换
# tmp_df = data_test[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]

data_train['Child'] = (data_train.Age < 12) + 0
#data_train.loc[ (data_train.Fare.isnull()), 'Fare' ] = 0
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 20 columns):
PassengerId      891 non-null int64
Survived         891 non-null int64
Pclass           891 non-null int64
Name             891 non-null object
Sex              891 non-null object
Age              891 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Ticket           891 non-null object
Fare             891 non-null float64
Cabin            891 non-null object
Embarked         889 non-null object
Title            891 non-null object
Title_Master     891 non-null uint8
Title_Miss       891 non-null uint8
Title_Mr         891 non-null uint8
Title_Mrs        891 non-null uint8
Title_Officer    891 non-null uint8
Title_Royalty    891 non-null uint8
Child            891 non-null int32
dtypes: float64(2), int32(1), int64(5), object(6), uint8(6)
memory usage: 99.3+ KB

In [7]:
import sklearn.preprocessing as preprocessing
# 完成Age与Fare的归一化
scaler = preprocessing.StandardScaler()

age_scale_param = scaler.fit(np.array(data_train.Age).reshape(-1,1))
data_train['Age_scaled'] = scaler.fit_transform(np.array(data_train.Age).reshape(-1,1), age_scale_param)

fare_scale_param = scaler.fit(np.array(data_train.Fare).reshape(-1,1))
data_train['Fare_scaled'] = scaler.fit_transform(np.array(data_train.Fare).reshape(-1,1), fare_scale_param)
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 22 columns):
PassengerId      891 non-null int64
Survived         891 non-null int64
Pclass           891 non-null int64
Name             891 non-null object
Sex              891 non-null object
Age              891 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Ticket           891 non-null object
Fare             891 non-null float64
Cabin            891 non-null object
Embarked         889 non-null object
Title            891 non-null object
Title_Master     891 non-null uint8
Title_Miss       891 non-null uint8
Title_Mr         891 non-null uint8
Title_Mrs        891 non-null uint8
Title_Officer    891 non-null uint8
Title_Royalty    891 non-null uint8
Child            891 non-null int32
Age_scaled       891 non-null float64
Fare_scaled      891 non-null float64
dtypes: float64(4), int32(1), int64(5), object(6), uint8(6)
memory usage: 113.2+ KB

In [8]:
dummies_Cabin = pd.get_dummies(data_train['Cabin'], prefix= 'Cabin')

dummies_Embarked = pd.get_dummies(data_train['Embarked'], prefix= 'Embarked')

dummies_Sex = pd.get_dummies(data_train['Sex'], prefix= 'Sex')

dummies_Pclass = pd.get_dummies(data_train['Pclass'], prefix= 'Pclass')

df = pd.concat([data_train, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 25 columns):
PassengerId      891 non-null int64
Survived         891 non-null int64
Age              891 non-null float64
SibSp            891 non-null int64
Parch            891 non-null int64
Fare             891 non-null float64
Title_Master     891 non-null uint8
Title_Miss       891 non-null uint8
Title_Mr         891 non-null uint8
Title_Mrs        891 non-null uint8
Title_Officer    891 non-null uint8
Title_Royalty    891 non-null uint8
Child            891 non-null int32
Age_scaled       891 non-null float64
Fare_scaled      891 non-null float64
Cabin_No         891 non-null uint8
Cabin_Yes        891 non-null uint8
Embarked_C       891 non-null uint8
Embarked_Q       891 non-null uint8
Embarked_S       891 non-null uint8
Sex_female       891 non-null uint8
Sex_male         891 non-null uint8
Pclass_1         891 non-null uint8
Pclass_2         891 non-null uint8
Pclass_3         891 non-null uint8
dtypes: float64(4), int32(1), int64(4), uint8(16)
memory usage: 73.2 KB

## 计算交叉验证集

In [9]:
# 简单看看打分情况
from sklearn import model_selection
from sklearn import linear_model
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
all_data = df.filter(regex='Survived|Age_.*|Sibsp|Parch|Fare_scaled|Carbin_*|Sex_*|Pclass_*|Child|Title_*')

X = np.array(all_data.values[:,1:])
y = np.array(all_data.values[:,0]).reshape(-1,1).astype(int)
X = pd.DataFrame(X)
y = pd.DataFrame(y)
y = y.iloc[:,0].map(int)
# k折交叉验证
# 验证某个模型在某个训练集上的稳定性，输出cv=k个预测精度
# 把初始训练样本分成k份，其中（k-1）份被用作训练集，剩下一份被用作评估集，这样一共可以对分类器做k次训练，并且得到k个训练结果。
print(model_selection.cross_val_score(clf, X, y, cv=5))

[0.7877095  0.81005587 0.79775281 0.80337079 0.83615819]

## 用全部训练集来训练一个模型

In [10]:
from sklearn import linear_model

# 用正则取出我们要的属性值
train_df = df.filter(regex='Survived|Age_.*|Sibsp|Parch|Fare_scaled|Carbin_*|Sex_*|Pclass_*|Child|Title_*')
train_np = train_df.values

# y即Survival结果
y = train_np[:, 0]

# X即特征属性值
X = train_np[:, 1:]

# fit到RandomForestRegressor之中
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
clf.fit(X, y)

clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=1e-06,
          verbose=0, warm_start=False)

In [11]:
predictions = clf.predict(X)
result = (predictions.reshape(-1,1) == y.reshape(-1,1))
sum(result)

array([725])

## 开始预测

对测试集做相同的处理

其实应该和训练集一起初始化

二表合一

In [12]:
data_test = pd.read_csv("./test.csv")
data_test.loc[ (data_test.Fare.isnull()), 'Fare' ] = 0
# 接着我们对test_data做和train_data中一致的特征变换
data_test = set_Cabin_type(data_test)

data_test['Title'] = data_test['Name'].map(lambda x: re.compile(", (.*?)\.").findall(x)[0])

# 将各式称呼进行统一化处理：
title_Dict = {}
title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
title_Dict.update(dict.fromkeys(['Don', 'Sir', 'the Countess', 'Dona', 'Lady'], 'Royalty'))
title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
title_Dict.update(dict.fromkeys(['Mr','Jonkheer'], 'Mr'))
title_Dict.update(dict.fromkeys(['Master'], 'Master'))
data_test['Title'] = data_test['Title'].map(title_Dict)


# #使用dummy对不同的称呼进行分列：
dummies_Title = pd.get_dummies(data_test['Title'], prefix= 'Title')
data_test = pd.concat([data_test, dummies_Title], axis=1)

# 补全Age
master_mean_age = data_test.loc[(data_test.Title_Master == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Master == 1), 'Age' ] = master_mean_age

miss_mean_age = data_test.loc[(data_test.Title_Miss == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Miss == 1), 'Age' ] = miss_mean_age

mr_mean_age = data_test.loc[(data_test.Title_Mr == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Mr == 1), 'Age' ] = mr_mean_age

mrs_mean_age = data_test.loc[(data_test.Title_Mrs == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Mrs == 1), 'Age' ] = mrs_mean_age

officer_mean_age = data_test.loc[(data_test.Title_Officer == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Officer == 1), 'Age' ] = officer_mean_age

royalty_mean_age = data_test.loc[(data_test.Title_Royalty == 1), 'Age'].mean()
data_test.loc[(data_test.Age.isnull()) & (data_test.Title_Royalty == 1), 'Age' ] = royalty_mean_age

data_test['Child'] = (data_test.Age < 12) + 0
data_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Child
0,892,3,"Kelly, Mr. James",male,34.500000,0,0,330911,7.8292,No,Q,Mr,0,0,1,0,0,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.000000,1,0,363272,7.0000,No,S,Mrs,0,0,0,1,0,0,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.000000,0,0,240276,9.6875,No,Q,Mr,0,0,1,0,0,0,0
3,895,3,"Wirz, Mr. Albert",male,27.000000,0,0,315154,8.6625,No,S,Mr,0,0,1,0,0,0,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.000000,1,1,3101298,12.2875,No,S,Mrs,0,0,0,1,0,0,0
5,897,3,"Svensson, Mr. Johan Cervin",male,14.000000,0,0,7538,9.2250,No,S,Mr,0,0,1,0,0,0,0
6,898,3,"Connolly, Miss. Kate",female,30.000000,0,0,330972,7.6292,No,Q,Miss,0,1,0,0,0,0,0
7,899,2,"Caldwell, Mr. Albert Francis",male,26.000000,1,1,248738,29.0000,No,S,Mr,0,0,1,0,0,0,0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.000000,0,0,2657,7.2292,No,C,Mrs,0,0,0,1,0,0,0
9,901,3,"Davies, Mr. John Samuel",male,21.000000,2,0,A/4 48871,24.1500,No,S,Mr,0,0,1,0,0,0,0
10,902,3,"Ilieff, Mr. Ylio",male,32.000000,0,0,349220,7.8958,No,S,Mr,0,0,1,0,0,0,0
11,903,1,"Jones, Mr. Charles Cresson",male,46.000000,0,0,694,26.0000,No,S,Mr,0,0,1,0,0,0,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.000000,1,0,21228,82.2667,Yes,S,Mrs,0,0,0,1,0,0,0
13,905,2,"Howard, Mr. Benjamin",male,63.000000,1,0,24065,26.0000,No,S,Mr,0,0,1,0,0,0,0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.000000,1,0,W.E.P. 5734,61.1750,Yes,S,Mrs,0,0,0,1,0,0,0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.000000,1,0,SC/PARIS 2167,27.7208,No,C,Mrs,0,0,0,1,0,0,0
16,908,2,"Keane, Mr. Daniel",male,35.000000,0,0,233734,12.3500,No,Q,Mr,0,0,1,0,0,0,0
17,909,3,"Assaf, Mr. Gerios",male,21.000000,0,0,2692,7.2250,No,C,Mr,0,0,1,0,0,0,0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.000000,1,0,STON/O2. 3101270,7.9250,No,S,Miss,0,1,0,0,0,0,0
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.000000,0,0,2696,7.2250,No,C,Mrs,0,0,0,1,0,0,0
20,912,1,"Rothschild, Mr. Martin",male,55.000000,1,0,PC 17603,59.4000,No,C,Mr,0,0,1,0,0,0,0
21,913,3,"Olsen, Master. Artur Karl",male,9.000000,0,1,C 17368,3.1708,No,S,Master,1,0,0,0,0,0,1
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,38.903226,0,0,PC 17598,31.6833,No,S,Mrs,0,0,0,1,0,0,0
23,915,1,"Williams, Mr. Richard Norris II",male,21.000000,0,1,PC 17597,61.3792,No,C,Mr,0,0,1,0,0,0,0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.000000,1,3,PC 17608,262.3750,Yes,C,Mrs,0,0,0,1,0,0,0
25,917,3,"Robins, Mr. Alexander A",male,50.000000,1,0,A/5. 3337,14.5000,No,S,Mr,0,0,1,0,0,0,0
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.000000,0,1,113509,61.9792,Yes,C,Miss,0,1,0,0,0,0,0
27,919,3,"Daher, Mr. Shedid",male,22.500000,0,0,2698,7.2250,No,C,Mr,0,0,1,0,0,0,0
28,920,1,"Brady, Mr. John Bertram",male,41.000000,0,0,113054,30.5000,Yes,S,Mr,0,0,1,0,0,0,0
29,921,3,"Samaan, Mr. Elias",male,32.000000,2,0,2662,21.6792,No,C,Mr,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.000000,0,0,364858,7.7500,No,Q,Mr,0,0,1,0,0,0,0
389,1281,3,"Palsson, Master. Paul Folke",male,6.000000,3,1,349909,21.0750,No,S,Master,1,0,0,0,0,0,1
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.000000,0,0,12749,93.5000,Yes,S,Mr,0,0,1,0,0,0,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.000000,0,1,PC 17592,39.4000,Yes,S,Mrs,0,0,0,1,0,0,0
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.000000,0,2,C.A. 2673,20.2500,No,S,Master,1,0,0,0,0,0,0
393,1285,2,"Gilbert, Mr. William",male,47.000000,0,0,C.A. 30769,10.5000,No,S,Mr,0,0,1,0,0,0,0
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.000000,3,1,315153,22.0250,No,S,Mr,0,0,1,0,0,0,0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.000000,1,0,13695,60.0000,Yes,S,Mrs,0,0,0,1,0,0,0
396,1288,3,"Colbert, Mr. Patrick",male,24.000000,0,0,371109,7.2500,No,Q,Mr,0,0,1,0,0,0,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.000000,1,1,13567,79.2000,Yes,C,Mrs,0,0,0,1,0,0,0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.000000,0,0,347065,7.7750,No,S,Mr,0,0,1,0,0,0,0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.000000,0,0,21332,7.7333,No,Q,Mr,0,0,1,0,0,0,0
400,1292,1,"Bonnell, Miss. Caroline",female,30.000000,0,0,36928,164.8667,Yes,S,Miss,0,1,0,0,0,0,0
401,1293,2,"Gale, Mr. Harry",male,38.000000,1,0,28664,21.0000,No,S,Mr,0,0,1,0,0,0,0
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.000000,0,1,112378,59.4000,No,C,Miss,0,1,0,0,0,0,0
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.000000,0,0,113059,47.1000,No,S,Mr,0,0,1,0,0,0,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.000000,1,0,17765,27.7208,Yes,C,Mr,0,0,1,0,0,0,0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.000000,0,0,SC/PARIS 2166,13.8625,Yes,C,Mr,0,0,1,0,0,0,0
406,1298,2,"Ware, Mr. William Jeffery",male,23.000000,1,0,28666,10.5000,No,S,Mr,0,0,1,0,0,0,0
407,1299,1,"Widener, Mr. George Dunton",male,50.000000,1,1,113503,211.5000,Yes,C,Mr,0,0,1,0,0,0,0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,21.774844,0,0,334915,7.7208,No,Q,Miss,0,1,0,0,0,0,0
409,1301,3,"Peacock, Miss. Treasteall",female,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,No,S,Miss,0,1,0,0,0,0,1
410,1302,3,"Naughton, Miss. Hannah",female,21.774844,0,0,365237,7.7500,No,Q,Miss,0,1,0,0,0,0,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.000000,1,0,19928,90.0000,Yes,Q,Mrs,0,0,0,1,0,0,0
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.000000,0,0,347086,7.7750,No,S,Miss,0,1,0,0,0,0,0
413,1305,3,"Spector, Mr. Woolf",male,32.000000,0,0,A.5. 3236,8.0500,No,S,Mr,0,0,1,0,0,0,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,Yes,C,Royalty,0,0,0,0,0,1,0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,No,S,Mr,0,0,1,0,0,0,0
416,1308,3,"Ware, Mr. Frederick",male,32.000000,0,0,359309,8.0500,No,S,Mr,0,0,1,0,0,0,0
417,1309,3,"Peter, Master. Michael J",male,7.406471,1,1,2668,22.3583,No,C,Master,1,0,0,0,0,0,1

In [13]:
import sklearn.preprocessing as preprocessing
# 完成Age与Fare的归一化
scaler = preprocessing.StandardScaler()

age_scale_param = scaler.fit(np.array(data_test.Age).reshape(-1,1))
data_test['Age_scaled'] = scaler.fit_transform(np.array(data_test.Age).reshape(-1,1), age_scale_param)

fare_scale_param = scaler.fit(np.array(data_test.Fare).reshape(-1,1))
data_test['Fare_scaled'] = scaler.fit_transform(np.array(data_test.Fare).reshape(-1,1), fare_scale_param)

In [14]:
dummies_Cabin = pd.get_dummies(data_test['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(data_test['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(data_test['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(data_test['Pclass'], prefix= 'Pclass')

df_test = pd.concat([data_test, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
# #df_test.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Title'], axis=1, inplace=True)
# df_test['Age_scaled'] = scaler.fit_transform(np.array(df_test.Age).reshape(-1,1), age_scale_param)
# df_test['Fare_scaled'] = scaler.fit_transform(np.array(df_test.Fare).reshape(-1,1), fare_scale_param)
test = df_test.filter(regex='Age_.*|Sibsp|Parch|Fare_.*|Carbin_.*|Sex_.*|Pclass_.*|Child|Title_.*')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 15 columns):
Parch            418 non-null int64
Title_Master     418 non-null uint8
Title_Miss       418 non-null uint8
Title_Mr         418 non-null uint8
Title_Mrs        418 non-null uint8
Title_Officer    418 non-null uint8
Title_Royalty    418 non-null uint8
Child            418 non-null int32
Age_scaled       418 non-null float64
Fare_scaled      418 non-null float64
Sex_female       418 non-null uint8
Sex_male         418 non-null uint8
Pclass_1         418 non-null uint8
Pclass_2         418 non-null uint8
Pclass_3         418 non-null uint8
dtypes: float64(2), int32(1), int64(1), uint8(11)
memory usage: 16.0 KB

开始预测

In [15]:
predictions = clf.predict(test)
result = pd.DataFrame({'PassengerId':data_test['PassengerId'].values, 'Survived':predictions.astype(np.int32)})
result.to_csv("./logistic_regression_predictions_v1.csv", index=False)